{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- SEO Meta Tags -->
        <title>Pritom GK | Web Developer Specialised In Backend (Laravel & Django)</title>
        <meta name="description" content="Explore the portfolio of Pritom GK, a web developer specializing in backend (Laravel and Django). Learn about his expertise, projects, and services in backend development.">
        <meta name="keywords" content="Backend developer, Laravel web developer, Django web developer, backend development, full-stack developer, RESTful APIs, web application development">
        <meta name="author" content="Pritom GK">
        <meta name="robots" content="index, follow">
    
        <!-- Open Graph Meta Tags (Social Media Optimization) -->
        <meta property="og:title" content="Pritom GK | Web Developer Specialised In Backend (Laravel & Django)">
        <meta property="og:description" content="Explore the portfolio of Pritom GK, a web developer specializing in backend (Laravel and Django). Learn about his expertise, projects, and services in backend development.">
        <meta property="og:image" content="{%static 'pub_assets/images/logo.jpg' %}">
        <meta property="og:url" content="https://pritomgk.techpartit.net">
        <meta property="og:type" content="website">
    
        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Pritom GK | Web Developer Specialised In Backend (Laravel & Django)">
        <meta name="twitter:description" content="Explore the portfolio of Pritom GK, a web developer specializing in backend (Laravel and Django). Learn about his expertise, projects, and services in backend development.">
        <meta name="twitter:image" content="{%static 'pub_assets/images/logo.jpg' %}">
    
        <!-- Canonical URL -->
        <link rel="canonical" href="https://pritomgk.techpartit.net">
    
        <!-- Favicon -->
        <link rel="icon" href="{%static 'pub_assets/images/favicon.ico' %}" type="image/x-icon">
    
        <!-- Theme Color for Mobile -->
        <meta name="theme-color" content="#333333">
    
        <!-- Apple-Specific Meta Tags -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="{%static 'pub_assets/images/apple-touch-icon.png' %}" />
        <link rel="shortcut icon" type="image/png" href="{%static 'pub_assets/images/favicon.png' %}" />

        <!-- CSS here -->
        <link rel="stylesheet" href="{%static 'pub_assets/css/animate.min.css' %}" />
        <link rel="stylesheet" href="{%static 'pub_assets/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{%static 'pub_assets/css/font-awesome-pro.min.css' %}" />
        <link rel="stylesheet" href="{%static 'pub_assets/css/flaticon_gerold.css' %}" />
        <link rel="stylesheet" href="{%static 'pub_assets/css/nice-select.css' %}" />
        <link rel="stylesheet" href="{%static 'pub_assets/css/backToTop.css' %}" />
        <link rel="stylesheet" href="{%static 'pub_assets/css/owl.carousel.min.css' %}" />
        <link rel="stylesheet" href="{%static 'pub_assets/css/swiper.min.css' %}" />
        <link rel="stylesheet" href="{%static 'pub_assets/css/odometer-theme-default.css' %}" />
        <link rel="stylesheet" href="{%static 'pub_assets/css/magnific-popup.css' %}" />
        <link rel="stylesheet" href="{%static 'pub_assets/css/main.css' %}" />
        <link rel="stylesheet" href="{%static 'pub_assets/css/light-mode.css' %}" />
        <link rel="stylesheet" href="{%static 'pub_assets/css/meanmenu.css' %}" />
        <link rel="stylesheet" href="{%static 'pub_assets/css/responsive.css' %}" />
    </head>

    <body>
        <!-- Preloader Area Start -->
        <div class="preloader">
            <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
                <path id="preloaderSvg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
            </svg>

            <div class="preloader-heading">
                <div class="load-text">
                    <span>L</span>
                    <span>o</span>
                    <span>a</span>
                    <span>d</span>
                    <span>i</span>
                    <span>n</span>
                    <span>g</span>
                </div>
            </div>
        </div>
        <!-- Preloader Area End -->

        <!-- start: Back To Top -->
        <div class="progress-wrap" id="scrollUp">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
            </svg>
        </div>
        <!-- end: Back To Top -->

        <!-- HEADER START -->
        <header class="tj-header-area header-absolute">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap align-items-center">
                        <div class="logo-box">
                            <a href="index.html">
                                <img src="{%static 'pub_assets/images/logo.jpg' %}" alt="" />
                            </a>
                        </div>

                        <div class="header-info-list d-none d-md-inline-block">
                            <ul class="ul-reset">
                                <li><a href="mailto:gkpritom@gmail.com">gkpritom@gmail.com</a></li>
                            </ul>
                        </div>
                        <div class="header-menu" id="headerMenu">
                            <nav>
                                <ul>
<!--                                    <li class="has-dropdown current-menu-ancestor">-->
<!--                                        <a class="current-menu-item" href="{% url 'home' %}">Home</a>-->
<!--                                        <ul class="sub-menu">-->
<!--                                            <li class="has-dropdown current-menu-ancestor">-->
<!--                                                <a href="index.html">Dark Mode</a>-->
<!--                                                <ul class="sub-menu">-->
<!--                                                    <li class="current-menu-item">-->
<!--                                                        <a href="index.html">Home One</a>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <a href="index-2.html">Home Two</a>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <a href="index-3.html">Home Three</a>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <a href="index-4.html">Home Four</a>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </li>-->
<!--                                            <li class="has-dropdown">-->
<!--                                                <a href="index-light.html">Light Mode</a>-->
<!--                                                <ul class="sub-menu">-->
<!--                                                    <li>-->
<!--                                                        <a href="index-light.html">Home One</a>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <a href="index-2-light.html">Home Two</a>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <a href="index-3-light.html">Home Three</a>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <a href="index-4-light.html">Home Four</a>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#services">Services</a></li>
                                    <li><a href="#portfolios">Portfolios</a></li>
                                    <li><a href="#blogs">Blogs</a></li>
<!--                                    <li class="has-dropdown">-->
<!--                                        <a href="blog.html">Blog</a>-->
<!--                                        <ul class="sub-menu">-->
<!--                                            <li>-->
<!--                                                <a href="blog.html">Blog</a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a href="blog-details.html">Blog Details</a>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu d-lg-none"></div>
                        <div class="header-button">
                            <a href="#contact" class="btn tj-btn-primary">Hire me!</a>
                        </div>
                        <div class="menu-bar d-lg-none">
                            <button>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <header class="tj-header-area header-2 header-sticky sticky-out">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap align-items-center">
                        <div class="logo-box">
                            <a href="index.html">
                                <img src="images/logo.png" alt="" />
                            </a>
                        </div>
                        <div class="header-info-list d-none d-md-inline-block">
                            <ul class="ul-reset">
                                <li><a href="mailto:mail@gerolddesign.com">mail@gerolddesign.com</a></li>
                            </ul>
                        </div>
                        <div class="header-menu">
                            <nav>
                                <ul>
<!--                                    <li class="has-dropdown current-menu-ancestor">-->
<!--                                        <a class="current-menu-item" href="{% url 'home' %}">Home</a>-->
<!--                                        <ul class="sub-menu">-->
<!--                                            <li class="has-dropdown current-menu-ancestor">-->
<!--                                                <a href="index.html">Dark Mode</a>-->
<!--                                                <ul class="sub-menu">-->
<!--                                                    <li class="current-menu-item">-->
<!--                                                        <a href="index.html">Home One</a>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <a href="index-2.html">Home Two</a>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <a href="index-3.html">Home Three</a>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <a href="index-4.html">Home Four</a>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </li>-->
<!--                                            <li class="has-dropdown">-->
<!--                                                <a href="index-light.html">Light Mode</a>-->
<!--                                                <ul class="sub-menu">-->
<!--                                                    <li>-->
<!--                                                        <a href="index-light.html">Home One</a>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <a href="index-2-light.html">Home Two</a>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <a href="index-3-light.html">Home Three</a>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <a href="index-4-light.html">Home Four</a>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#services">Services</a></li>
                                    <li><a href="#portfolios">Portfolios</a></li>
                                    <li><a href="#blogs">Blogs</a></li>
<!--                                    <li class="has-dropdown">-->
<!--                                        <a href="blog.html">Blog</a>-->
<!--                                        <ul class="sub-menu">-->
<!--                                            <li>-->
<!--                                                <a href="blog.html">Blog</a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a href="blog-details.html">Blog Details</a>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu d-lg-none"></div>
                        <div class="header-button">
                            <a href="#contact" class="btn tj-btn-primary">Hire me!</a>
                        </div>
                        <div class="menu-bar d-lg-none">
                            <button>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER END -->

        <main class="site-content" id="content">

            